header {
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
  height: 150px;
  width: 100%;
}

header h1 {
  text-align: center;
  margin-top: 50px;
}

.nav {
  justify-content: center;
  position: relative;
  margin-top: 10px;
}